@{
    ViewData["Title"] = "Identifique-se";
}

<partial name="_Splash" />

<div class="home">
    <a href="~/cliente" class="home-item">
        <img class="icone" src="~/Icones/cliente.svg" />
        <span>
            Cliente
        </span>
    </a>
    <a href="~/login/login" class="home-item">
        <img class="icone" src="~/Icones/fornecedor.svg" />
        <span>
            Fornecedor
        </span>
    </a>
</div>