@using CaixaComanda.Classes;

@{
    ViewData["Title"] = "Cadastrar";
}

<div class="fornecedor-form">
    @using (Html.BeginForm("Cadastrar", "Fornecedor", FormMethod.Post, new { @class = "", id = "cadastrar", enctype = "multipart/form-data" }))
    {
        <div class="fornecedor-form__grupo">
            <label for="txtNome">
                Nome do produto:
            </label>
            <input type="text" placeholder="Digite o nome do produto..." name="txtNome" required />
        </div>

        <div class="fornecedor-form__grupo">
            <label for="txtDescricao">
                Descrição:
            </label>
            <textarea type="text" placeholder="Digite uma breve descrição do produto..." name="txtDescricao"></textarea>
        </div>

        <div class="fornecedor-form__grupo">
            <label for="txtPreco">
                Preço:
            </label>
            <input type="text" placeholder="R$ 00,00..." name="txtPreco" required />
        </div>

        <div class="fornecedor-form__grupo">
            <label for="txtGrupo">
                Vincular à lista:
            </label>
            <input type="text" placeholder="Digite o nome da lista que esse produto pertence..." name="txtGrupo" required />
        </div>

        <div class="fornecedor-form__grupo">
            <label for="txtFoto">
                Foto:
            </label>
            <div class="fornecedor-form__file-upload">
                <img src="~/Icones/imagemnaodisponivel.svg" class="imagem-nao-disponivel" alt="Nenhuma imagem cadastrada ainda" />
                <input type="file" name="uplFoto" />
            </div>
        </div>

        <div class="fornecedor-form__grupo">
            <label for="txtPeso">
                Peso <small>(Kg/mg)</small>:
            </label>
            <input type="text" placeholder="00,00g..." name="txtPeso" required />
        </div>

        <div class="fornecedor-form__grupo">
            <label for="txtQuantidade">
                Serve <small>(Ex: até 1 pessoa)</small>:
            </label>
            <input type="text" placeholder="Digite a quantidade do produto..." name="txtQuantidade" required />
        </div>

        <div class="fornecedor-form__grupo">
            <label for="txtObservacao">
                Observação:
            </label>
            <textarea type="text" placeholder="Digite uma observação breve do produto..." name="txtObservacao"></textarea>
        </div>

        <div class="fornecedor-form__grupo">
            <button class="fornecedor-form__submit" type="submit" value="Upload">
                Cadastrar
            </button>
        </div>
    }
</div>
<script defer>
    var inpFoto = document.querySelector(".fornecedor-form__file-upload [name='uplFoto']");
    var imgFoto = document.querySelector(".fornecedor-form__file-upload img");

    inpFoto.onchange = evt => {
        const [file] = inpFoto.files;
        if (file) {
            imgFoto.src = URL.createObjectURL(file)
        };

        if (imgFoto.classList.contains("imagem-nao-disponivel")) {
            imgFoto.classList.toggle("imagem-nao-disponivel");
        };
    }
</script>